<a href="https://colab.research.google.com/github/kisomose/python/blob/main/pandaSql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PANDASQL

iNSTALLING Pandasql

In [ ]:
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.42)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.3.post0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.13.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.9.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=a8e216011d0b463110ce3335d2a7ed84b1fec78c0e411b0851760154f3ebb73d
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
import pandas as pd
from pandasql import sqldf
from pandasql import load_births

In [ ]:
#loading dataset
births = load_births()
print(births)

          date  births
0   1975-01-01  265775
1   1975-02-01  241045
2   1975-03-01  268849
3   1975-04-01  247455
4   1975-05-01  254545
..         ...     ...
403 2012-08-01  359554
404 2012-09-01  361922
405 2012-10-01  347625
406 2012-11-01  320195
407 2012-12-01  340995

[408 rows x 2 columns]

In [ ]:
#sql in Python

In [ ]:
cmd = " select * from births where births >300000 limit 5"
print(sqldf(cmd,locals()))

                         date  births
0  1979-08-01 00:00:00.000000  302805
1  1982-07-01 00:00:00.000000  321836
2  1982-08-01 00:00:00.000000  323129
3  1982-09-01 00:00:00.000000  320536
4  1982-10-01 00:00:00.000000  311312

#sql3lite

In [ ]:
import sqlite3

loading data

In [ ]:
conn = sqlite3.connect("dataset.bd")
print(conn)

<sqlite3.Connection object at 0x7f68fed66b90>